.navbar {
    background-color: #995DB5;
    display: inline-block;
    margin-bottom: 10px;
}

.nav-item {
    display: inline-block;
    width: 200px;
    font-size: 30px;
    border: 3px solid black;
}

.nav-current {
}

.nav-link-non-current {
    color: #A3C5D1;
}

.container {
    display: flex;
    background: rgba(156, 39, 176, 0.2);
    border: 1px solid rgba(0, 0, 0, .5);
    min-height: 300px;
    justify-content: center;
    align-items: flex-start;
}

.column {
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
    flex-basis: auto;
}

.box {
    width: 500px;
    flex-grow: 1
}

.box-middle {
    flex-grow: 2;
    background-color: rgba(36, 12, 42, 0.256);
    min-height: 300px;    
}

.form-container {
    display: flex;
    flex-direction: column;
}


.form-item {  
    margin-top: 10px;
}

.form-item > label {
    display: inline-block;
    width: 100px;
}

.form-item > input {
    display: inline-block;
    width: 200px;
}

.form-item > textarea {
    display: inline-block;
    width: 200px;
}

button:hover {
    background-color: #995DB5;
    color: white;
}

a:hover {
    font-weight: bold;
}

img:hover {
    border: 2px solid black;
}

input:focus {
    background-color: #ECD5F0;
}

textarea:focus {
    background-color: #ECD5F0;
}

/* Color Palette:
Text color: #F8F7F6;
Tab color: #678DBE;
Background: #958C8C;
Dark Accent: #aaacb3;
Dark Shades: #475671;
*/

/* body {
    background-color: #958C8C;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    color: #F8F7F6;
    font-size: larger;
    font-family: 'Gill Sans';
}

.profile {}

.name {
    display: inline-block;
    margin-right: 20px;
    font-size: 60px;
    font-family: 'Gill Sans';
    color: #A3C5D1;
}

.profile-pic {
    border-radius: 90%;
    width: 180px;
}

.navbar {
    background-color: #475671;
    display: inline-block;
    margin-bottom: 10px;
}

.nav-item {
    display: inline-block;
    width: 200px;
    font-size: 30px;
    border: 3px solid black;
}

.nav-current {
    background-color: yellow;
}

.nav-link-current {}

.nav-link-non-current {
    color: #A3C5D1;
}

// Create three equal columns that float next to each other
.column-header {
    text-align: center;
}

.column {
    float: left;
    width: 25%;
    height: 500px;
}

.column-middle {
    float: left;
    width: 50%;
    height: 500px;
}

// Clear floats after the columns 
.row:after {
    content: "";
    display: table;
    clear: both;
}

// Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less)
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.main-content > :nth-child(odd) {
    background-color: #75a7c0;
}

.main-content > :nth-child(even) {
    background-color: #1180b8;
}

.footer {
   padding-top: 10px;
} 
*/
